@media (min-width: 1200px){
.col-lg-5 {
    width: 56.666667%;
}
.col-lg-7 {
        width: 43.333333%;
    }
}

@media (min-width: 768px){
.col-sm-4 {
    width: 59.333333%;
}
.col-sm-8 {
    width: 40.666667%;
}

}

@media (min-width: 992px){
.col-md-4 {
    width: 50%;
}
}